
#publications {
    padding: 0 0;
    padding-top: 70px;
    position: relative;
    margin-top: 150px;
    margin-bottom: 60px;
    justify-content: center;
  
}



.timeline .timeline-item:before {
    content: attr(data-date);
    position: absolute;
    top: 0;
    left: -70px;
    color: #1b263b;
    padding: 5px 10px;
    border-radius: 5px;
}


#publications-heading {
    position:absolute;
    left: 0px;
    top: 30px;
    font-size: 84px;
    color: #e0e1dd;
    overflow: hidden; /* Hide overflow */
    font-weight:1000;
    
}

.vertical-typing > div {
    /* display: block; */
    margin-bottom: 1px; 
    margin-left: auto;
    height: 0;
    overflow: hidden;
    /* animation: typing 2s forwards; */
    animation: typing 3s forwards infinite;
    animation-delay: 1s;
}

.vertical-typing > div:last-child {
    margin-bottom: 0; 
}

@keyframes typing {
    0% {
        height: 0;
    }
    20% {
        height: 0;
    }
    100% {
        height: 1.1em;
    }
}

.timeline {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
}

.timeline .timeline-item {
    width: calc(85% - 50px);
    /* margin-top: 50px; */
    margin-right: 5px; 
    margin-bottom: 10px;
    padding: 15px;
    background-color: #1b263b;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.timeline .timeline-item:nth-child(odd) {
    margin-right: 55%;
    text-align: right;
   
}

.timeline .timeline-item:nth-child(even) {
    margin-left: 55%;
    text-align: left;
}

.timeline .timeline-title {
    font-size: 24px;
    color: #eae0d5;
    margin-top: 0;
}

.timeline .timeline-details {
    color: #e0e1dd;
    margin-bottom: 10px;
    
}

.timeline .timeline-link {
    color: #4E5B6C;
    text-decoration: none;
}

.timeline .timeline-link:hover {
    text-decoration: underline;
}




@media (max-width: 1800px) {
    .timeline .timeline-item {
        width: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;
        text-align: left !important;
    }

    .timeline .timeline-item:before {
        left: 0;
    }

    #publications-heading {
        position: relative;
        top: 0;
        left: 0;
        font-size: 42px;
        text-align: center;
    }

    .vertical-typing > div {
        display: inline-block;
        margin-bottom: 0;
        height: auto;
        overflow: visible;
        animation: none;
        transform: rotate(0deg);
    }
}
