#contact {
 
    color: #0A0A15;
    padding: 50px; 
    display: flex;
    height: 33.33vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1; 
  }
  

  #contact h1 {
    font-size: 3em; 
  }

  #contact p {
    font-size: 1.2em; 
  }

  #contact ul {
    list-style-type: none; 
    padding: 0;
  }

  #contact li {
    margin-bottom: 10px;
    color: #0A0A15;
  }

  #contact li strong {
    color: #0A0A15; 
  }