.news-heading{  
    font-size: 5em;  
    font-family: serif;  
    color:black;  
    text-align: center;  
    /* animation: animate 1.8s linear infinite;   */
    animation: wiggle 0.5s linear infinite;
    }  
      
    @keyframes animate{  
    0%{  
        opacity: 0;  
    }  
    50%{  
        opacity: 0.6;  
    }  
    100%{  
        opacity: 0;  
    }  
    }  

    /* Keyframes */
@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }