#scroll-indicator {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
  }
  
  .indicator {
    width: 10px;
    height: 10px;
    background-color: #2A3946;
    border-radius: 50%;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .indicator:hover {
    background-color: #E6B54E;
  }
  