.news-heading{  
    font-size: 5em;  
    /* font-family: serif;   */
    color:#f6aa1c;  
    text-align: center;  
    /* background-color: #f6aa1c ; */
    padding: 0;
    /* animation: animate 1.8s linear infinite;   */
    animation: wiggle 0.5s linear infinite;
    }  
      
    @keyframes animate{  
    0%{  
        opacity: 0;  
    }  
    50%{  
        opacity: 0.6;  
    }  
    100%{  
        opacity: 0;  
    }  
    }  

    /* Keyframes */
@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }

  .news-section div {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
  }
  
  .news-section div:first-of-type {    /* For increasing performance 
                         ID/Class should've been used. 
                         For a small demo 
                         it's okaish for now */
    animation: showup 7s infinite;
  }
  
  .news-section div:last-of-type {
    width:0px;
    animation: reveal 7s infinite;
  }
  
  .news-section div:last-of-type span {
    margin-left:-355px;
    animation: slidein 7s infinite;
  }
  
  @keyframes showup {
      0% {opacity:0;}
      20% {opacity:1;}
      80% {opacity:1;}
      100% {opacity:0;}
  }
  
  @keyframes slidein {
      0% { margin-left:-800px; }
      20% { margin-left:-800px; }
      35% { margin-left:0px; }
      100% { margin-left:0px; }
  }
  
  @keyframes reveal {
      0% {opacity:0;width:0px;}
      20% {opacity:1;width:0px;}
      30% {width:355px;}
      80% {opacity:1;}
      100% {opacity:0;width:355px;}
  }
  
  
  .badge {
    background-color: #778da9;
    color: black;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
  }