@import url('https://fonts.googleapis.com/css?family=Roboto:700');


.container_hobbies {
  color:black;
  text-transform: uppercase;
  font-size:9em;
  font-weight:bold;
  padding-top:200px;  
  position:relative;
  width:100%;
  bottom:45%;
  display:block;
  justify-content: center;
  align-items: center; 
  

}

#flip {
  height:200px;
  overflow:hidden;
}

#flip > div > div {
  color:#fff;
  padding:0px 0px;
  height:200px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background:#42c58a;
}
#flip div:first-child div {
  background:#4ec7f3;
}
#flip div:last-child div {
  background:#DC143C;
}

@keyframes show {
    0% { margin-top: -505px; } /*Adjusted margin for first word */
    10% { margin-top: -490px; } 
    33% { margin-top: -490px; }
    38% { margin-top: -275px; } /* Adjusted margin for second word */
    66% { margin-top: -275px; }
    71% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -505px; } /* Adjusted margin for last word */
  }

 

.image_flex {
  flex: 1;
  width: 50%; 
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_flex img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  
  