/* Projects section */
#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #343a40; /* Set background color for the projects section */
  color: white;
}

.projects-heading {
  font-size: 1em;
  margin-bottom: 20px;
}

.project-card {
  background-color: black; /* Set background color for project cards */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect */
  padding: 40px; /* Increase padding to make tiles bigger */
  margin: 20px; /* Add margin to space out tiles */
  width: 250px; /* Set a fixed width for each tile */
  height: 250px;
  text-align: center; /* Center the content horizontally */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
  perspective: 1000px; /* Add perspective for 3D effect */
}

.project-card .front,
.project-card .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden; /* Hide the backface of the card */
  transition: transform 0.6s;
}

.project-card .front {
  transform: rotateY(0deg);
}

.project-card .back {
  transform: rotateY(180deg);
}

.project-card.flipped .front {
  transform: rotateY(-180deg);
}

.project-card.flipped .back {
  transform: rotateY(0deg);
}


.project-card:hover {
  transform: scale(1.05); /* Scale up the card on hover */
}

/* Project cards container */
.project-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  gap: 5px; /* Gap between cards */
  padding: 20px; /* Padding around cards */
}




/* Hobbies container */
.hobbies-container {
    display: flex;
    height: 100vh; /* Set the height of the container to the full viewport height */
  }
  
  /* Left text section */
  .text-section {
    flex: 1; /* Take up remaining space */
    background-color: #333;
    text-align: right;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-end; /* Align text to the right */
  }
  
  /* Right image section */
  .image-section {
    flex: 1; /* Take up remaining space */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0;
    background-color: #222;
    padding: 0;
    margin:0;
  }
  
  /* Hobby images */
  .hobby-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-size: cover; /* Ensure the background image covers the entire div */
    background-position: center; /* Center the background image */
  }
  
  .hobby-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit:fill;
  }
  /* Specify the background images for each hobby */
.hobby-image:nth-child(1) {
    background-image: url('dance4.JPG');
  }
  
  .hobby-image:nth-child(2) {
    background-image: url('gym2.jpeg');
  }
  
  .hobby-image:nth-child(3) {
    background-image: url('trip2.jpeg');
  }
  
  /* General styles */
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Playfair Display", sans-serif;
    color: white;
    font-size: large;
    background-color: #0f0f0f;
  }
  
  .section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    color: #f8f9fa;
  }

  .content {
    text-align: center;
    padding: 50px;
    top: 42%;
    left: 50%;
    color:#CED4DA;
    
    }
    
    .content_home {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:#CED4DA;
    }
    
    h1 {
    font-size: 3em;
    margin-bottom: 20px;
    }
  
  .social-icons {
    margin-top: 20px;
  }
  
  .social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: #ced4da;
    font-size: 1.5em;
  }
  
  .chevron-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #ced4da;
    cursor: pointer;
  }
  
  #particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #0f0f0f;
  }
  
  /* Navbar styles */
  .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
  }
  
  .navbar a {
    color: #ced4da;
    text-decoration: none;
    padding: 5px;
    margin: 0 5px;
    text-transform: capitalize;
  }

  p {
    font-size: 1.2em; /* Adjust the font size as needed */
    line-height: 1.5; /* Increase line height for more spacing */
  }

  #initials {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 32px;
    font-weight: bold;
}
 