
body {
margin: 0;
padding: 0;
overflow-x: hidden;
font-family: "Playfair Display", sans-serif;
color: white;
font-size: large;
background-color: #0f0f0f;
}

.section {
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
scroll-snap-align: start;
color: #F8F9FA;
}


.content {
text-align: center;
padding: 50px;
top: 42%;
left: 50%;
color:#CED4DA;

}

.content_home {
position: absolute;
top: 42%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
color:#CED4DA;
}

h1 {
font-size: 3em;
margin-bottom: 20px;
}

.social-icons {
margin-top: 20px;
}

.social-icons a {
display: inline-block;
margin: 0 10px;
color: #CED4DA;
font-size: 1.5em;
}

.chevron-down {
position: absolute;
bottom: 20px;
left: 50%;
transform: translateX(-50%);
color: #CED4DA;
cursor: pointer;
}

#particles-js {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
background-color: #0f0f0f; /* Set background color to dark bluish-black */
}

/* Navbar styles */
.navbar {
display: flex;
justify-content: flex-end; /* Align items to the right */
align-items: center; /* Align items vertically */
height: 30px;
background-color: #0f0f0f;
position: fixed;
top: 0;
right: 0; /* Align to the right side of the screen */
width: 30%; /* Limit width to 30% of the screen */
}

.navbar a {
color: #CED4DA;
text-decoration: none;
padding: 5px; /* Reduce padding */
margin: 0 5px; /* Reduce spacing between each option */
text-transform:capitalize;
}

.hobbies-container {
display: grid;
grid-template-columns: 1fr 1fr; /* Split into two columns */
gap: 0px; /* Gap between sections */
}

.text-section {
grid-column: 1 / 2; /* Span the first column */
}

.image-section {
display: grid;
grid-template-columns: repeat(3, 1fr); /* Split into three rows */
gap: 0px; /* Gap between images */
}

.hobby-image {
display: flex;
flex-direction: column;
align-items: center;
}

.hobby-image img {
width: 100%;
height: auto;
border-radius: 5px;
}

.hobby-image p {
margin-top: 5px;
color: #CED4DA;
}


